<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="index" appConnect="local" bootstrap5="local" components="{dmxBrowser:{},dmxBootstrap5TableGenerator:{},dmxDataTraversal:{},dmxDatastore:{},dmxBootstrap5PagingGenerator:{},dmxBootstrap5Navigation:{},dmxBootstrap5Offcanvas:{},dmxRouting:{},dmxStateManagement:{},dmxBootstrap5Modal:{},dmxGooglePlaces:{},dmxVideo:{},dmxNotifications:{},dmxPreloader:{},dmxScheduler:{},dmxDatePicker:{},dmxFormatter:{}}" moment_2="cdn" -->
<dmx-datetime id="var1"></dmx-datetime>

<div is="dmx-browser" id="browser1"></div>

<dmx-scheduler id="scheduler1" dmx-on:tick="browser1.goto('/')" delay="3" noload="true" norepeat="true"></dmx-scheduler>
<dmx-notifications id="notifies1"></dmx-notifications>
<div class="modal" id="affecterUserModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title heading-text">Affecter l'appareil à un agent: {{selectedTsp.value.Nom}}</h5>
      </div>
      <div class="modal-body">
        <form is="dmx-api-form" id="affectationForm" method="post" action="http://localhost:5243/api/affectationAm" dmx-header:authorization="connectedUser.data.token" dmx-on:success="notifies1.success('L\'appareil a été affecté avec succés');tsp.load({});selectedTsp.setValue(tsp.data.where(`IdTsp`, selectedTsp.value, '=='));affecterUserModal.toggle()" dmx-on:error="notifies1.danger(lastError.response)">
          <input id="IdTspAffect" name="TspId" type="hidden" class="form-control" dmx-bind:value="selectedTsp.value.IdTsp">
          <input id="UserCreaAffect" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />

          <div class="form-group mb-3 row">
            <label for="select2" class="col-sm-2 col-form-label">Agent</label>
            <div class="col-sm-10">
              <select id="select2" class="form-select form-select-sm" dmx-bind:options="getEmployeByIdSection.data" optiontext="Nom" optionvalue="Matricule" name="EmployeId"></select>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <button id="btn5" class="btn btn-sm btn-primary" type="submit">
              Enregistrer
            </button>
            <button id="btn6" class="btn btn-sm btn-warning" data-bs-dismiss="modal">
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="addTspModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" is="dmx-api-form" id="apiform1" action="http://localhost:5243/api/tsp" post-data="json" dmx-on:success="notifies1.success('Nouveau Tsp enregistré');tsp.load({});addTspModal.toggle()" dmx-on:error="notifies1.danger(lastError.response+lastError.message)" dmx-header:authorization="connectedUser.data.token">
          <div class="row justify-content-center">
            <div class="col-12">
              <h4 class="heading-text">Ajout d'un nouvel appareil</h4>
            </div>
            <div class="col">
              <div class="d-flex flex-row justify-content-around">
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group ">
                    <label for="selectModel" class="form-label">Le model de TSP</label>
                    <input id="UserCrea" name="UserCrea" class="form-control" type="hidden" dmx-bind:value="connectedUser.data.matricule">
                    <input id="DescriptionTsp" name="Description" class="form-control" type="hidden" dmx-bind:value="listModelTsp.data.where(`IdModele`, selectModel.value, '==')[0].Description">
                    <select id="selectModel" class="form-select form-control form-select-sm" dmx-bind:options="listModelTsp.data" optiontext="Nom" optionvalue="IdModele" name="ModeleId">
                      <option selected="" value=""></option>
                    </select>
                  </div><img dmx-bind:src="'data:image/jpeg;base64,'+listModelTsp.data.where(`IdModele`,selectModel.value, '==')[0].Img" dmx-show="selectModel.value" width="150">
                </div>
                <div class="d-flex flex-column justify-content-start visually-hidden">
                  <div class="form-group ">
                    <label for="modelName" class="form-label">Id du nouvel appareil</label>
                    <input id="IdTsp" name="IdTsp" class="form-control mb-1 form-control-plaintext form-control-sm" dmx-bind:value="nomNouveauAppareil.data" type="number" readonly="true">
                  </div>
                  <div class="form-group ">
                    <label for="modelName" class="form-label" id="NomAppareil">Nom du nouvel appareil</label>
                    <input id="Nom" name="Nom" class="form-control form-control-plaintext mb-0 form-control-sm" dmx-bind:value="listModelTsp.data.where(`IdModele`, selectModel.value, '==')[0].Nom+'-'+nomNouveauAppareil.data" readonly="true">
                  </div>
                  <div class="form-group ">
                    <label for="modelName" class="form-label" id="NomAppareil1">Code de l'appareil</label>
                    <input id="CodeTsp" name="CodeTsp" class="form-control form-control-plaintext mb-0 form-control-sm" dmx-bind:value="listModelTsp.data.where(`IdModele`, selectModel.value, '==')[0].Nom+'-'+nomNouveauAppareil.data" readonly="true">
                  </div>




                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Reference Court</label>
                    <input id="RefCourtTsp" name="RefCourt" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="listModelTsp.data.where(`IdModele`,selectModel.value, '==')[0].RefCourt" readonly="true">
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Quantite</label>
                    <input id="quantiteAdd1" name="Quantite1" class="form-control border form-control-plaintext mb-0 form-control-sm">
                  </div>
                </div>
                <div class="d-flex justify-content-between flex-column">
                  <div class="form-group">
                    <label for="modelName" class="form-label">Année de production</label>
                    <input id="AnneeProduction" name="AnneeProduction" class="form-control border form-control-plaintext mb-0 form-control-sm" />
                  </div>
                  <div class="form-group">
                    <label for="modelName" class="form-label">Date d'achat</label>
                    <input id="DateAchat" name="DateAchat" class="form-control form-control-sm" is="dmx-date-picker" applylabel="Enregistrer" cancellabel="Annuler" format="DD-MM-YYYY" type="date">
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Numéro de serie</label>
                    <input id="NumSerie" name="NumSerie" class="form-control border form-control-plaintext mb-0 form-control-sm" />
                  </div>
                </div>

              </div>
            </div>

            <div class="col-10">
              <div class="d-flex justify-content-around">
                <button id="submit" class="btn btn-primary btn-sm" type="submit" dmx-bind:disabled="!selectModel.value" dmx-on:click="loading.setValue(true)">
                  Enregistrer
                </button>

                <button id="cancel" class="btn btn-warning btn-sm" data-bs-dismiss="modal">
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="editTspModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" is="dmx-api-form" id="apiEditTsp" action="http://localhost:5243/api/tsp/edit" post-data="json" dmx-on:success="notifies1.success('Appareil modifié');editTspModal.toggle();tsp.load({});selectedTsp.setValue(tsp.data.where(`IdTsp`, selectedTsp.value, '==')[0])" dmx-on:error="notifies1.danger(lastError.response+lastError.message)" dmx-header:authorization="connectedUser.data.token">
          <div class="row justify-content-center">
            <div class="col-12">
              <h4 class="heading-text">Modifier l'appareil</h4>
            </div>
            <div class="col">
              <div class="d-flex flex-row justify-content-around">

                <div class="d-flex justify-content-start flex-column">
                  <div class="form-group mb-3">
                    <label for="selectModel1" class="form-label">Le model de TSP</label>

                    <select id="selectModel1" class="form-select form-control form-select-sm" dmx-bind:options="listModelTsp.data.where(`IdModele`, selectedTsp.value.ModeleId, '!==')" optiontext="Nom" optionvalue="IdModele" name="ModeleId" dmx-bind:value="listModelTsp.data.where(`$value`, selectedTsp.value.Model.IdModele, '==')">
                      <option dmx-bind:value="selectedTsp.value.Model.IdModele">{{ selectedTsp.value.Model.Nom }}</option>
                    </select>
                  </div><img dmx-bind:src="'data:image/jpeg;base64,'+listModelTsp.data.where(`IdModele`, selectModel1.value, '==')[0].Img" width="150" dmx-show="selectModel1.value">
                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Nom</label>
                    <input id="IdTsp1" name="IdTsp" class="form-control mb-1 form-control-plaintext" dmx-bind:value="selectedTsp.value.IdTsp">
                    <input id="Nom1" name="Nom" class="form-control form-control-plaintext mb-0 form-control-sm border" dmx-bind:value="selectedTsp.value.Nom" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Numéro de serie</label>
                    <input id="NumSerie1" name="NumSerie" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.NumSerie" />
                  </div>
                  <input id="UserCrea1" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule">


                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Date d'achat</label>
                    <input id="DateAchat1" name="DateAchat" type="text" class="form-control form-control-sm" is="dmx-date-picker" format="MM-DD-YYYY" dmx-bind:value="selectedTsp.value.DateAchat">
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Année de production</label>
                    <input id="AnneeProduction1" name="AnneeProduction" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.AnneeProduction" />
                  </div>

                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Description</label>
                    <input id="Description1" name="Description" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.Description" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Code de L'appareil</label>
                    <input id="CodeTspEdit" name="CodeTsp" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.CodeTsp">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-10">
              <div class="d-flex mt-5 justify-content-around">
                <button id="submit1" class="btn btn-primary" type="submit" dmx-bind:disabled="!selectModel1.value||NumSerie1.value.length()&lt;5" dmx-on:click="loading.setValue(true)">
                  Enregistrer
                </button>

                <button id="cancel1" class="btn btn-warning" data-bs-dismiss="modal">
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<dmx-value id="loadingTsp" dmx-bind:value="true"></dmx-value>
<dmx-value id="loading" dmx-bind:value="false"></dmx-value>
<dmx-value id="ActualAffectation" dmx-bind:value="selectedTsp.value.logAffectation.first()"></dmx-value>
<dmx-value id="selectedTsp"></dmx-value>
<dmx-data-view id="tspViewData" dmx-bind:data="tsp.data" dmx-bind:page="tsp.paging.pages" dmx-bind:pagesize="10" sortdir="desc"></dmx-data-view>
<dmx-data-view id="searchData" dmx-bind:data="tsp.data.where(`CodeTsp`, form2.recherche.value, 'contains')" dmx-bind:page="tsp.paging.pages" dmx-bind:pagesize="10" sortdir="desc"></dmx-data-view>
<dmx-data-view id="logDataView" dmx-bind:page="tsp.paging.pages" dmx-bind:pagesize="10" sortdir="desc" dmx-bind:data="tsp.data[23].logAffectation"></dmx-data-view>
<dmx-local-manager id="connectedUser"></dmx-local-manager>

<dmx-api-action id="deleteApi" noload="true" method="delete" data-type="json" dmx-data:id="selectedAffecation.value.IdAffect" dmx-on:success="affecationList.load({});tspNonAffectList.load({});simNonAffecteList.load({});selectedAffecation.setValue(null);affecationList.load({});loadingEdit.setValue(false);deleteModal.hide()" dmx-bind:url="'http://localhost:5243/api/affectationAM/'+selectedAffecation.value.IdAffect" dmx-header:authorization="connectedUser.data.token" dmx-on:done="affecationList.load({});newAfffId.load({});simNonAffecteList.load({});tspNonAffectList.load({});employeNonAffecteList.load({});deleteModal.hide();loadingEdit.setValue(false);notifies1.info(lastError.status+lastError.message)"></dmx-api-action>
<dmx-api-datasource id="getEmployeByIdSection" is="dmx-fetch" url="http://localhost:5243/api/employe/nonAffecte" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="newAfffId" is="dmx-fetch"></dmx-api-datasource>
<dmx-api-datasource id="sectionsList" is="dmx-fetch" url="http://localhost:5243/api/tableValeur/newAffectation"></dmx-api-datasource>
<dmx-api-datasource id="simNonAffecteList" is="dmx-fetch" url="http://localhost:5243/api/simMobile/simNonAffecte" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingSim.setValue(true)" dmx-on:done="loadingSim.setValue(false)"></dmx-api-datasource>
<dmx-api-datasource id="tspNonAffectList" is="dmx-fetch" url="http://localhost:5243/api/tsp/GetNonAffecteAll" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingTsp.setValue(true)" dmx-on:done="loadingTsp.setValue(false)" dmx-param:type="'tsp'"></dmx-api-datasource>
<dmx-api-datasource id="listModelTsp" is="dmx-fetch" url="http://localhost:5243/api/modelTsp/tsp" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="listEquipe" is="dmx-fetch" url="http://localhost:5243/api/tableValeur/codeTable/SECT" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="nomNouveauAppareil" is="dmx-fetch" url="http://localhost:5243/api/tsp/getMaxAsync" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>

<dmx-api-datasource id="tsp" is="dmx-fetch" url="http://localhost:5243/api/tsp/firstLoad" dmx-on:success="tspViewList.add(data);loadingTsp.setValue(false)" dmx-on:unauthorized="connectedUser.removeAll();browser1.goto('/auth/login')" dmx-header:authorization="connectedUser.data.token" dmx-param:type="'tsp'"></dmx-api-datasource>
<div class="container-fluid">
  <div class="row ps-0 pe-0 app-row">
    <div class="col-2 app-sidebar">
      <h5 class="heading-text">Liste de tous les appareils</h5>
      <div class="d-flex align-items-start justify-content-between ps-1 pe-1">
        <form id="form2">
          <div class="form-group mb-3 row">
            <div class="d-flex align-items-start justify-content-center align-self-start">
              <input type="text" class="form-control form-control-sm" id="recherche" name="code" aria-describedby="input1_help" placeholder="Recherche" />
            </div>
          </div>
        </form>
      </div>
      <button id="btn2" class="btn disabled" dmx-show="loadingTsp.value">
        <span class="spinner-border spinner-border-sm" role="status"></span>chargement...
      </button>

      <div class="d-flex flex-column" dmx-show="form2.recherche.value==null">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>Appareil</th>
                <th>Code tsp</th>
              </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="tspViewData.data" id="allTspBody" dmx-state="offset" dmx-sort="offset" dmx-order="offset" key="IdTsp">
              <tr dmx-on:click="selectedTspId.setValue(IdTsp);accessoiresData.load({id: IdTsp});suivibordereaudata.load({id: IdTsp});logAffectationTspData.load({id: IdTsp});showDetails.setValue(0);affectationByTsp.load({})" dmx-class:bg-info="affectation!==null" dmx-class:text-white="affectation!==null">
                <td dmx-text="Nom"></td>
                <td dmx-text="CodeTsp"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-sm" dmx-dataview="tspViewData" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="tspViewData.page == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.prev()"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == tspViewData.page" dmx-class:disabled="!active" dmx-repeat="tspViewData.getDataViewPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.select(page)">{{title)}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == tspViewData.pages" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.next()"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == tspViewData.pages" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-column" dmx-show="form2.recherche.value!==null">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Appareil</th>
                <th>Identifiant</th>
              </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="searchData.data" id="tableRepeat1">
              <tr dmx-on:click="selectedTsp.setValue($value)" dmx-class:clicked="selectedTsp.value==$value">
                <td dmx-text="Nom"></td>
                <td dmx-text="IdTsp"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-sm flex-wrap" dmx-dataview="searchData" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.prev()"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == searchData.page" dmx-class:disabled="!active" dmx-repeat="searchData.getDataViewPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.select(page)">{{title)}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.next()"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div>
      <button id="btn1" class="btn btn-primary btn-sm w-100" data-bs-target="#addTspModal" data-bs-toggle="modal" dmx-on:click="nomNouveauAppareil.load({})">
        Ajouter&nbsp;<i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-10" id="data">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card app-col">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-between mb-1">
                <h5 class="heading-text">Details de l'appareil</h5>
                <button id="btn3" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editTspModal" dmx-on:click="listModelTsp.load({});nomNouveauAppareil.load({})" dmx-show="selectedTsp.value">
                  Modifier&nbsp;<i class="fa fa-pencil"></i>
                </button>
              </div>
              <div class="d-flex justify-content-between flex-row" style="" dmx-show="selectedTsp.value">
                <div class="d-flex flex-column align-items-center justify-content-around">
                  <h6>{{ selectedTsp.value.Model.Nom }}</h6>
                  <img dmx-bind:src="selectedTsp.value.Model.Img?'data:image/jpeg;base64,'+selectedTsp.value.Model.Img:'/assets/mobile.png'" class="img-fluid app-img" width="150">
                </div>

                <dl>
                  <dt>Nom</dt>
                  <dd>{{ selectedTsp.value.Nom }}</dd>
                  <dt>Identifiant</dt>
                  <dd>{{ selectedTsp.value.IdTsp }}</dd>
                  <dt>Description</dt>
                  <dd>{{ selectedTsp.value.Description }}</dd>
                </dl>
                <dl>
                  <dt>Numéro de Serie</dt>
                  <dd>{{ selectedTsp.value.NumSerie }}</dd>
                  <dt>Année de production</dt>
                  <dd>{{selectedTsp.value.AnneeProduction}}</dd>
                  <dt>Date d'achat</dt>
                  <dd>{{selectedTsp.value.DateAchat}}</dd>
                </dl>
                <dl>
                  <dt>Date de mise en service</dt>
                  <dd>{{selectedTsp.value.DateMiseEnService}}</dd>
                  <dt>Agent actuelle</dt>
                  <dd>4799</dd>
                </dl>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center" style="" dmx-show="!selectedTsp.value">
                <small class="text-muted">Pas de données</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card app-col">
            <div class="card-body">
              <h5 class="heading-text">Agent</h5>
              <div class="d-flex flex-column justify-content-center align-items-center" style="" dmx-show="!selectedTsp.value">
                <small class="text-muted">Pas de données</small>
              </div>
              <div class="d-flex justify-content-between flex-row" style="" dmx-show="selectedTsp.value.Affectation.IdAffect!=0&amp;&amp;selectedTsp.value.Affectation!=null">
                <i class="fa fa-user"></i>
                <dl>
                  <dt>Nom</dt>
                  <dd>{{ selectedTsp.value.Affectation.Employe.Nom }}</dd>
                  <dt>Date d'affectation</dt>
                  <dd>{{ selectedTsp.value.Affectation.DateCreation }}</dd>
                  <dt>Numéro de la carte sim</dt>
                  <dd>{{ selectedTsp.value.Affectation.SimMobile.Num }}</dd>
                </dl>
                <dl>
                  <dt>Affecté par</dt>
                  <dd>{{selectedTsp.value.Affectation.UserCrea.Nom}}</dd>
                </dl>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center" style="" dmx-show="selectedTsp.value&amp;&amp;(selectedTsp.value.Affectation.IdAffect==0||selectedTsp.value.Affectation==null || ActualAffectation.value.Deleted=='O')">
                <i class="fa fa-user-times fa-2x"></i>
                <small class="text-muted">Aucun agent n'est affecté à cet appareil</small><button id="btn4" class="btn btn-sm btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#affecterUserModal">
                  Affecter <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs cnavbar2" id="detailsnav" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="log" data-bs-toggle="tab" href="#" data-bs-target="#logTab" role="tab" aria-controls="navTabs1_1" aria-selected="true">Historique</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="accessoire" data-bs-toggle="tab" href="#" data-bs-target="#accessoireTab" role="tab" aria-controls="navTabs1_2" aria-selected="false">Accessoires</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="incidentNav" data-bs-toggle="tab" href="#" data-bs-target="#incidentTab" role="tab" aria-controls="navTabs1_2" aria-selected="false">Incidents</a>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <div class="tab-content" id="detailsTab">
                <div class="tab-pane active fade show" id="logTab" role="tabpanel" aria-labelledby="log">
                  <div class="table-responsive col-12 col-md-6">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th>Nom de l'agent</th>
                          <th>Numéro de la carte sim</th>
                          <th>Date</th>
                          <th>Affecté par</th>
                          <th>Supprimé</th>
                        </tr>
                      </thead>
                      <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="selectedTsp.value.LogAffectation" id="tableRepeat4">
                        <tr>
                          <td dmx-text="EmployeName"></td>
                          <td dmx-text="SimNumber"></td>
                          <td dmx-text="DateCrea"></td>
                          <td dmx-text="affectedBy"></td>
                          <td dmx-text="Deleted"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table" id="aucunedonnhistorique">
                      <tbody>
                        <tr>
                          <td colspan="4">Aucunes données</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane show fade" id="accessoireTab" role="tabpanel" aria-labelledby="accessoire">
                  <div class="table-responsive col-12 col-md-6">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Accessoire</th>
                          <th>Nom de l'agent</th>
                          <th>Affecté par</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="selectedTsp.value.ListAccessoire" id="tableRepeat3">
                        <tr>
                          <td>
                            <img dmx-bind:src="TypeAccessoire.Img?'data:image/jpeg;base64,'+TypeAccessoire.Img:''" width="50" dmxorgdomid="d49288">
                          </td>
                          <td dmx-text="Accessoire.Nom"></td>
                          <td dmx-text="Employe.Nom"></td>
                          <td dmx-text="UserCrea.Nom"></td>
                          <td dmx-text="DateCrea"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table" id="aucunedonnaccessoire">
                      <tbody>
                        <tr>
                          <td colspan="4">Aucunes données</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane show fade" id="incidentTab" role="tabpanel" aria-labelledby="incidentNav">
                  <div class="col-6">
                    <table class="table" dmx-show="selectedTsp.value.ListProbleme.length&gt;0">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Description</th>
                          <th scope="col">Date</th>
                          <th scope="col">Réparer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table" id="aucunedonnincident">
                      <tbody>
                        <tr>
                          <td colspan="4">Aucunes données</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-6" dmx-hide="selectedTsp.value.ListProbleme.length&gt;0">
                    <i class="fa fa-check-circle" dmx-class:text-success="true"></i>
                    <small class="text-muted" dmx-text="'Aucun incident à déclarer'"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<meta name="ac:route" content="/" />