<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="accessoires" appconnect="local" bootstrap5="local" components="{dmxStateManagement:{},dmxBrowser:{},dmxBootstrap5TableGenerator:{},dmxNotifications:{},dmxPreloader:{},dmxScheduler:{},dmxBootstrap5Modal:{},dmxBootstrap5Navigation:{},dmxDataTraversal:{}}" -->
<dmx-data-view id="data_viewModel" dmx-bind:data="listModelAccesoires.data" pageSize="5"></dmx-data-view>
<div class="modal" id="addAccessoryModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body app-col">
        <div class="row">
          <div class="col text-start">
            <form method="post" is="dmx-api-form" id="apiform1" action="http://localhost:5243/api/accessoire" dmx-on:success="notifies1.success('Nouvel accessoire enregistré');scheduler1.start();addAccessoryModal.toggle()" dmx-on:error="notifies1.danger(lastError.response+lastError.message);scheduler1.start();loading.setValue(false)" dmx-header:authorization="connectedUser.data.token">
              <div class="row justify-content-center">
                <div class="col-12">
                  <h4 class="heading-text">Nouvel accessoire</h4><input id="DateCrea" name="DateCrea" class="form-control" dmx-bind:value="DateCreaValue.datetime" type="hidden" />
                  <div class="form-group mb-3">
                    <label for="selectModel" class="form-label">Le model de l'accessoire</label>
                    <input id="ModeleId" name="ModeleId" class="form-control" type="hidden" />
                    <select id="selectModel" class="form-select form-select-lg form-control" dmx-bind:options="listModelAccesoires.data" optiontext="Nom" optionvalue="IdType" dmx-on:changed="ModeleId.setValue(value)" name="IdType">
                      <option selected="" value=""></option>
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="input1" class="form-label">Numero de serie de l'accessoire</label>
                    <label for="input1" class="form-label">Numero de serie de l'accessoire</label>
                    <input id="nomAccessoire" name="Nom" class="form-control" />
                  </div>
                  <div class="d-flex justify-content-around">
                    <button id="submit" class="btn btn-primary" type="submit" dmx-bind:disabled="!nomAccessoire.value)||(selectModel.value=='')" dmx-on:click="loading.setValue(true)">
                      Enregistrer
                    </button>

                    <button id="cancel" class="btn btn-warning" data-bs-dismiss="modal">
                      Annuler
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="newModel" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title heading-text">Enregistrement d'un nouveau model d'accessoire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">
              <form id="addModelForm" method="post" is="dmx-api-form" action="http://localhost:5243/api/typeAccessoire" dmx-header:authorization="connectedUser.data.token" dmx-on:success="notifies1.success('Nouveau model ajouté');newModel.toggle();listModelAccesoires.load({})" dmx-on:error="notifies1.danger(lastError.response)">
                <input id="text1" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule">

                <div class="form-group md-3"> <label for="modelName" class="form-label">Nom du model</label>
                  <input type="text" class="form-control" id="modelName" name="Nom" aria-describedby="input1_help" placeholder="Nom du model">
                </div>
                <div class="form-group md-3"> <label for="modelDescription" class="form-label">Description</label>
                  <input type="text" class="form-control" id="modelDescription" name="Description" aria-describedby="input1_help" placeholder="Description du model">
                </div>
                <div class="form-group md-3"> <label for="modelDescription1" class="form-label">Model Année</label>
                  <input type="text" class="form-control" id="modelDescription1" name="ModelAnnee" aria-describedby="input1_help" placeholder="L'année du model">
                </div>
                <div class="form-group md-3"> <label for="ReferenceModel" class="form-label">Reference</label>
                  <input type="text" class="form-control" id="ReferenceModel" name="RefModel" aria-describedby="input1_help" placeholder="Description du model">
                </div>
                <div class="form-group md-3">
                  <label for="ImgModel" class="form-label">Image</label><input id="UploadModel" name="Img" type="file" class="form-control">
                </div>
                <div class="d-flex mt-4 mb-1 justify-content-around"><button type="submit" class="btn btn-primary" dmx-class:disabled="!UploadModel.value||!modelName.value">Enregistrer</button><button type="button" class="btn btn-warning" data-bs-dismiss="modal">Annuler</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<dmx-local-manager id="connectedUser"></dmx-local-manager>
<dmx-scheduler id="scheduler1" dmx-on:tick="browser1.goto('/views/accessoires/allAccessoires')" delay="3" noload="true" norepeat="true"></dmx-scheduler>
<dmx-notifications id="notifies1"></dmx-notifications>


<dmx-api-datasource id="listModelAccesoires" is="dmx-fetch" url="http://localhost:5243/api/typeAccessoire/all" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<div is="dmx-browser" id="browser1"></div>

<meta name="ac:route" content="/views/accessoires/allAccessoires" />
<dmx-value id="actualAffectation" dmx-bind:value="tableRepeat1[0].affectationAccessoire"></dmx-value>
<dmx-api-datasource id="accessoires" is="dmx-fetch" url="http://localhost:5243/api/accessoire/firstLoad" dmx-header:authorization="connectedUser.data.token" dmx-on:unauthorized="connectedUser.removeAll();browser1.goto('/auth/login')" dmx-on:done="loadingData.setValue(false)"></dmx-api-datasource>
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col">


      <button id="btn1" class="btn" dmx-show="loadingData.value">
        <span class="spinner-border spinner-border-sm" role="status"></span>chargement...
      </button>

      <div class="row">
        <div class="col-12 col-md-6">
          <div class="d-flex justify-content-between mb-2">
            <h4 class="fw-bolder text-center shadow-sm lh-base fst-italic mark mb-0" style="text-decoration: underline">
              Liste de tous les accessoires
            </h4><button id="btn2" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccessoryModal">Ajouter <i class="fa fa-plus"></i></button>
          </div>
          <form id="form1">
            <div class="form-group mb-3 row">
              <div class="col-12 col-md-6">

                <small id="select1Help" class="form-text text-muted">Choissiez le type d'accéssoire que vous voulez afficher.</small><select id="select1" class="form-select">
                  <option value="1">Option One</option>
                  <option value="2">Option Two</option>
                  <option value="3">Option Three</option>
                </select>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm">
              <thead>
                <tr>
                  <th scope="row">Numéro de serie</th>
                  <th>Nom</th>
                  <th>Type accessoire</th>
                  <th>Affecté</th>
                  <th>Appareil</th>
                  <th>Employe</th>
                  <th>Affecté par</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="accessoires.data" id="tableRepeat1">
                <tr dmx-class:bg-info="affectationAccessoire!==null" dmx-class:text-white="affectationAccessoire!==null">
                  <td dmx-text="Nom"></td>
                  <td dmx-text="Nom"></td>
                  <td dmx-text="TypeAccessoire.Nom"></td>
                  <td dmx-text="affectationAccessoire==null?'Non':'Oui'"></td>
                  <td dmx-text="affectationAccessoire.Tsp.Nom"></td>
                  <td dmx-text="affectationAccessoire.Employe.Nom"></td>
                  <td dmx-text="affectationAccessoire.UserCrea.Nom"></td>
                  <td dmx-text="affectationAccessoire.DateCrea"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row ps-0 pe-0 ">
    <div class="col-2 model-sidebar">


      <h5 class="heading-text">Liste de tous les models</h5>
      <div class="d-flex align-items-start justify-content-between ps-1 pe-1">
        <form id="form2">
          <div class="form-group mb-3 row">
            <div class="d-flex align-items-start justify-content-center align-self-start ">
              <input type="text" class="form-control form-control-sm" id="recherche" name="code" aria-describedby="input1_help" placeholder="Recherche">

            </div>
          </div>
        </form>

      </div><button id="btn2" class="btn disabled" dmx-show="loadingTsp.value">
        <span class="spinner-border spinner-border-sm" role="status"></span>chargement...
      </button>

      <div class="d-flex flex-column" dmx-show="form2.recherche.value==null">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th>Appareil</th>
                <th>Code tsp</th>
              </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="tspViewData.data" id="allTspBody" dmx-state="offset" dmx-sort="offset" dmx-order="offset" key="IdTsp">
              <tr dmx-on:click="selectedModelId.setValue(IdTsp);accessoiresData.load({id: IdTsp});suivibordereaudata.load({id: IdTsp});logAffectationTspData.load({id: IdTsp});showDetails.setValue(0);affectationByTsp.load({})" dmx-class:bg-info="affectation!==null" dmx-class:text-white="affectation!==null">
                <td dmx-text="Nom"></td>
                <td dmx-text="CodeTsp"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-sm" dmx-dataview="tspViewData" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="tspViewData.page == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.prev()"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == tspViewData.page" dmx-class:disabled="!active" dmx-repeat="tspViewData.getDataViewPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.select(page)">{{title)}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == tspViewData.pages" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.next()"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="tspViewData.page == tspViewData.pages" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="tspViewData.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div>
      <div class="d-flex flex-column" dmx-show="form2.recherche.value!==null">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Id modele</th>
                <th>Nom</th>
                <th>Date crea</th>
                <th>User crea</th>
                <th>Description</th>
                <th>Ref model</th>
                <th>Img</th>
              </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="data_viewModel.data" id="tableRepeat3">
              <tr>
                <td dmx-text="IdModele"></td>
                <td dmx-text="Nom"></td>
                <td dmx-text="DateCrea"></td>
                <td dmx-text="UserCrea"></td>
                <td dmx-text="Description"></td>
                <td dmx-text="RefModel"></td>
                <td dmx-text="Img"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-sm flex-wrap" dmx-dataview="searchData" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.prev()"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == searchData.page" dmx-class:disabled="!active" dmx-repeat="searchData.getDataViewPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.select(page)">{{title)}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.next()"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div><button id="btn1" class="btn btn-primary btn-sm w-100" data-bs-target="#newModel" data-bs-toggle="modal" dmx-on:click="nomNouveauAppareil.load({})">Ajouter&nbsp;<i class="fa fa-plus"></i></button>

    </div>
    <div class="col-10" id="data">
      <div class="row">

        <div class="col-12 col-md-6  app-col">
          <div class="d-flex flex-row justify-content-between mb-1">
            <h5 class="heading-text">Details du model</h5><button id="btn3" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal" dmx-on:click="listModelTsp.load({});nomNouveauAppareil.load({})">Modifier&nbsp;<i class="fa fa-pencil"></i></button>
          </div>

          <div class="d-flex flex-row justify-content-start" style="">
            <div class="d-flex flex-column align-items-center justify-content-around">
              <a><img dmx-bind:src="selectedModel.value.Img?'data:image/jpeg;base64,'+selectedModel.value.Img:'/assets/images/no image.png'" class="model-img"></a>
            </div>

            <dl>
              <dt>Nom</dt>
              <dd>{{selectedModel.value.Nom}}</dd>
              <dt>Réference</dt>
              <dd>{{selectedModel.value.RefModel}}</dd>
              <dt>Description</dt>

              <dd>50</dd>
              <dt>Model Année</dt>
              <dd>2018</dd>
              <dt>Nombre d'appareils</dt>
              <dd>50</dd>
              <dt>Prix</dt>
              <dd>50</dd>




            </dl>
          </div>



        </div>
      </div>


    </div>
    <div class="col-12 col-md-10 app-nodata" id="nodata" dmx-hide="selectedModel.value"></div>
  </div>
</div>