<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="allsim" appConnect="local" bootstrap5="local" components="{dmxBootstrap5TableGenerator:{},dmxBrowser:{},dmxBootstrap5Modal:{},dmxTyped:{},dmxStateManagement:{},dmxDataTraversal:{},dmxBootstrap5PagingGenerator:{},dmxBootstrap5Navigation:{},dmxNotifications:{},dmxPreloader:{},dmxScheduler:{},dmxDatePicker:{}}" moment_2="cdn" -->
<div class="modal" id="newSim" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid" dmx-show="loading.value==false">
          <div class="row">
            <div class="col">
              <form method="post" is="dmx-api-form" id="postNewSim" action="http://localhost:5243/api/simMobile" post-data="json" dmx-on:success="notifies1.success('Nouvelle sim enregistrée');scheduler1.start();newSim.toggle()" dmx-on:error="notifies1.danger('Cette sim existe deja');scheduler1.start();loading.setValue(false)" dmx-on:start="loading.setValue(true)" dmx-header:authorization="connectedUser.data.token">
                <div class="row justify-content-center">
                  <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
                    <div class="fdb-box fdb-touch">
                      <div class="row">
                        <div class="col">
                          <h1>Enregistrement sim</h1>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col">
                          <input id="connectedUserData" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule " />
                          <input id="DateCrea" name="DateCrea" type="hidden" class="form-control" dmx-bind:value="DateCreaValue.datetime" />
                          <div class="form-group mb-3">
                            <label for="input1" class="form-label" id="numsimlabel">Numero de la nouvelle sim</label>
                            <input id="NumTel" name="NumTel" class="form-control" type="number" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group mb-3">
                            <label for="selectModel" class="form-label" id="pinsimlabel">Code Pin</label>
                            <input id="Pin" name="Pin" class="form-control" type="number" />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group mb-3">
                            <label for="selectEquipe" class="form-label" id="puklabel">Code Puk</label>
                            <input id="Puk" name="Puk" class="form-control" type="number" />
                          </div>
                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col">
                          <div class="d-flex justify-content-around">
                            <button id="submit" class="btn btn-primary" type="submit" dmx-bind:disabled="!Pin.value||! NumTel.value||!Puk.value" dmx-on:click="loading.setValue(true)">
                              Enregistrer
                            </button>

                            <button id="cancel" class="btn btn-warning" data-bs-dismiss="modal">
                              Annuler
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<meta name="ac:route" content="/views/sim/allsim" />
<dmx-local-manager id="connectedUser"></dmx-local-manager>

<div is="dmx-browser" id="browser1"></div>

<meta name="ac:route" content="/views/sim/allsim" />

<dmx-scheduler id="scheduler1" dmx-on:tick="browser1.goto('/')" delay="3" noload="true" norepeat="true"></dmx-scheduler>
<dmx-notifications id="notifies1"></dmx-notifications>
<div class="modal" id="affecterUserModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title heading-text">
          Affecter un agent à l'appareil: {{ selectedTsp.value.Nom }}
        </h5>
      </div>
      <div class="modal-body">
        <form is="dmx-api-form" id="affectationForm" method="post" action="http://localhost:5243/api/affectationAm" dmx-header:authorization="connectedUser.data.token" dmx-on:success="notifies1.success('L\'appareil a été affecté avec succés');tsp.load({});selectedTsp.setValue(tsp.data.where(`IdTsp`, selectedTsp.value, '=='));affecterUserModal.toggle()" dmx-on:error="notifies1.danger(lastError.response)">
          <input id="IdTspAffect" name="IdTsp" type="hidden" class="form-control" dmx-bind:value="selectedTsp.value.IdTsp" />
          <input id="UserCreaAffect" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />

          <div class="form-group mb-3 row">
            <label for="select2" class="col-sm-2 col-form-label">Agent</label>
            <div class="col-sm-10">
              <select id="select2" class="form-select form-select-sm" dmx-bind:options="getEmployeByIdSection.data" optiontext="Nom" optionvalue="Matricule" name="IdEmploye"></select>
            </div>
          </div>
          <div class="d-flex justify-content-around">
            <button id="btn5" class="btn btn-sm btn-primary" type="submit">
              Enregistrer
            </button>
            <button id="btn6" class="btn btn-sm btn-warning" data-bs-dismiss="modal">
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="addModelModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un nouveau model d'appareil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="form1">
          <div class="form-group md-3">
            <label for="modelName" class="form-label">Nom du model</label>
            <input type="text" class="form-control form-control-sm" id="modelName" name="Nom" aria-describedby="input1_help" placeholder="Nom du model" />
          </div>
          <div class="form-group md-3">
            <label for="modelDescription" class="form-label">Description</label>
            <input type="text" class="form-control form-control-sm" id="modelDescription" name="Description" aria-describedby="input1_help" placeholder="Description du model" />
          </div>
          <div class="form-group md-3">
            <label for="ReferenceModel" class="form-label">Reference</label>
            <input type="text" class="form-control form-control-sm" id="ReferenceModel" name="RefModel" aria-describedby="input1_help" placeholder="Description du model" />
          </div>
          <div class="form-group md-3">
            <label for="ImgModel" class="form-label">Image</label><input id="UploadModel" name="Img" type="file" class="form-control" />
          </div>
          <div class="d-flex mt-4 mb-1 justify-content-around">
            <button type="button" class="btn btn-primary">Enregistrer</button><button type="button" class="btn btn-warning" data-bs-dismiss="modal">
              Annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="addTspModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" is="dmx-api-form" id="apiform1" action="http://localhost:5243/api/tsp" post-data="json" dmx-on:success="notifies1.success('Nouveau Tsp enregistré');scheduler1.start();addTspModal.toggle()" dmx-on:error="notifies1.danger(lastError.response+lastError.message);scheduler1.start();loading.setValue(false)" dmx-header:authorization="connectedUser.data.token">
          <div class="row justify-content-center">
            <div class="col-12">
              <h4 class="heading-text">Nouveau Tsp</h4>
            </div>
            <div class="col-10">
              <div class="d-flex flex-row justify-content-around">
                <div class="d-flex justify-content-between flex-column">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Nom et Id du nouveau TSP</label>
                    <input id="IdTsp" name="IdTsp" class="form-control mb-1 form-control-plaintext" dmx-bind:value="nomNouveauAppareil.data" type="hidden" />
                    <input id="Nom" name="Nom" class="form-control form-control-plaintext mb-0 form-control-sm" dmx-bind:value="'Z'+nomNouveauAppareil.data" readonly="true" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Le code TSP</label>
                    <input id="CodeTsp" name="CodeTsp" class="form-control form-control-plaintext form-control-sm" dmx-bind:value="Nom.value" readonly="true" />
                  </div>
                  <input id="UserCrea" name="UserCrea" type="hidden" class="form-control" dmx-text="" />

                  <div class="form-group mb-3">
                    <label for="selectModel" class="form-label">Le model de TSP</label>
                    <input id="ModeleId" name="ModeleId" class="form-control" type="hidden" />
                    <select id="selectModel" class="form-select form-control form-select-sm" dmx-bind:options="listModelTsp.data" optiontext="Nom" optionvalue="IdModele" dmx-on:changed="ModeleId.setValue(value)" name="ModeleId">
                      <option selected="" value=""></option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-between flex-column">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Année de production</label>
                    <input id="AnneeProduction" name="AnneeProduction" class="form-control border form-control-plaintext mb-0 form-control-sm" />
                  </div>
                  <div class="form-group">
                    <label for="modelName" class="form-label">Date d'achat</label>
                    <input id="text1" name="DateAchat" class="form-control form-control-sm" is="dmx-date-picker" applylabel="Enregistrer" cancellabel="Annuler" format="DD-M-Y" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Numéro de serie</label>
                    <input id="NumSerie" name="NumSerie" class="form-control border form-control-plaintext mb-0 form-control-sm" />
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Description</label>
                    <input id="Description" name="Description" class="form-control border form-control-plaintext mb-0 form-control-sm" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-10">
              <div class="d-flex justify-content-around">
                <button id="submit1" class="btn btn-primary btn-sm" type="submit" dmx-bind:disabled="!ModeleId.value||!SectEmp.value" dmx-on:click="loading.setValue(true)">
                  Enregistrer
                </button>

                <button id="cancel1" class="btn btn-warning btn-sm" data-bs-dismiss="modal">
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="editTspModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form method="post" is="dmx-api-form" id="apiEditTsp" action="http://localhost:5243/api/tsp" post-data="json" dmx-on:success="notifies1.success('Nouveau Tsp enregistré');scheduler1.start();addTspModal.toggle()" dmx-on:error="notifies1.danger(lastError.response+lastError.message);scheduler1.start();loading.setValue(false)" dmx-header:authorization="connectedUser.data.token">
          <div class="row justify-content-center">
            <div class="col-12">
              <h4 class="heading-text">Modifier l'appareil</h4>
            </div>
            <div class="col-10">
              <div class="d-flex flex-row justify-content-around">
                <div class="d-flex justify-content-between flex-column">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Nom</label>
                    <input id="IdTsp1" name="IdTsp1" class="form-control mb-1 form-control-plaintext" dmx-bind:value="nomNouveauAppareil.data" type="hidden" />
                    <input id="Nom1" name="Nom" class="form-control form-control-plaintext mb-0 form-control-sm border" dmx-bind:value="selectedTsp.value.Nom" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Le code TSP</label>
                    <input id="CodeTsp1" name="CodeTsp" class="form-control form-control-plaintext form-control-sm" dmx-bind:value="selectedTsp.value.CodeTsp" />
                  </div>
                  <input id="UserCrea1" name="UserCrea1" type="hidden" class="form-control" dmx-text="" />

                  <div class="form-group mb-3">
                    <label for="selectModel1" class="form-label">Le model de TSP</label>

                    <select id="selectModel1" class="form-select form-control form-select-sm" dmx-bind:options="listModelTsp.data.where(`IdModele`, selectedTsp.value.ModeleId, '!==')" optiontext="Nom" optionvalue="IdModele" name="ModeleId" dmx-bind:value="listModelTsp.data.where(`$value`, selectedTsp.value.Model, '==')">
                      <option selected="" value="{{ selectedTsp.value.Model.IdModel }}">
                        {{ selectedTsp.value.Model.Nom }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-between flex-column">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Date d'achat</label>
                    <input id="DateAchat1" name="DateAchat" type="text" class="form-control form-control-sm" is="dmx-date-picker" format="DD-M-Y" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Année de production</label>
                    <input id="AnneeProduction1" name="AnneeProduction" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.AnneeProduction" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Numéro de serie</label>
                    <input id="NumSerie1" name="NumSerie" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.NumSerie" />
                  </div>
                </div>
                <div class="d-flex flex-column justify-content-start">
                  <div class="form-group mb-3">
                    <label for="modelName" class="form-label">Description</label>
                    <input id="Description1" name="Description" class="form-control border form-control-plaintext mb-0 form-control-sm" dmx-bind:value="selectedTsp.value.Description" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-10">
              <div class="d-flex mt-5 justify-content-around">
                <button id="submit12" class="btn btn-primary" type="submit" dmx-bind:disabled="!ModeleId.value||!SectEmp.value" dmx-on:click="loading.setValue(true)">
                  Enregistrer
                </button>

                <button id="cancel12" class="btn btn-warning" data-bs-dismiss="modal">
                  Annuler
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<dmx-datetime id="DateCreaValue"></dmx-datetime>
<dmx-value id="ActualAffectation" dmx-bind:value="selectedSim.value.logAffectationList.first()"></dmx-value>
<dmx-value id="selectedSim"></dmx-value>
<dmx-data-view id="searchData" dmx-bind:data="sims.data.where(`NumTel`, form2.recherche.value, 'contains')" dmx-bind:page="tsp.paging.pages" dmx-bind:pagesize="10" sortdir="desc"></dmx-data-view>
<dmx-data-view id="logDataView" dmx-bind:page="tsp.paging.pages" dmx-bind:pagesize="10" sortdir="desc" dmx-bind:data="selectedSim.value.logAffectationList" pageSize="5"></dmx-data-view>

<dmx-api-datasource id="getEmployeByIdSection" is="dmx-fetch" url="http://localhost:5243/api/employe/nonAffecte" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-datasource id="simNonAffecteList" is="dmx-fetch" url="http://localhost:5243/api/simMobile/simNonAffecte" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingSim.setValue(true)" dmx-on:done="loadingSim.setValue(false)" noload="true"></dmx-api-datasource>
<dmx-api-datasource id="sims" is="dmx-fetch" url="http://localhost:5243/api/simMobile/loadEdit" dmx-on:unauthorized="browser1.goto('/auth/login',true)" dmx-header:authorization="connectedUser.data.token" dmx-on:done="loadingData.setValue(false)"></dmx-api-datasource>
<dmx-api-datasource id="employeNonAffecteList" is="dmx-fetch" dmx-header:authorization="connectedUser.data.token" dmx-bind:url="'http://localhost:5243/api/employe/nonAffecte/'+sectionId.value" dmx-on:start="loadingEmp.setValue(true)" dmx-on:done="loadingEmp.setValue(false)" noload="true"></dmx-api-datasource>

<div class="container-fluid">
  <div class="row ps-0 pe-0 app-row">
    <div class="col-2 app-sidebar">
      <h5 class="heading-text">Liste de tous les cartes sim</h5>
      <div class="d-flex align-items-start justify-content-between ps-1 pe-1">
        <form id="form2">
          <div class="form-group mb-3 row">
            <div class="d-flex align-items-start justify-content-center align-self-start">
              <input type="text" class="form-control form-control-sm" id="recherche" name="code" aria-describedby="input1_help" placeholder="Recherche" />
            </div>
          </div>
        </form>
      </div>
      <button id="btn2" class="btn disabled" dmx-show="sims.state.executing">
        <span class="spinner-border spinner-border-sm" role="status"></span>chargement...
      </button>

      <div class="d-flex flex-column" dmx-show="form2.recherche.value!==null">
        <div class="table-responsive">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th>Id</th>
                <th>Numéro</th>
              </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="searchData.data" id="tableRepeat2">
              <tr dmx-on:click="selectedSim.setValue($value);ActualAffectation.setValue($value.logAffectationList[0])">
                <td dmx-text="IdSim"></td>
                <td dmx-text="NumTel"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-sm flex-wrap" dmx-dataview="searchData" dmx-generator="bs5paging">
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="First">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == 1" aria-label="Previous">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.prev()"><span aria-hidden="true">&lsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:active="title == searchData.page" dmx-class:disabled="!active" dmx-repeat="searchData.getDataViewPagination(2,1,'...')">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.select(page)">{{title)}}</a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Next">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.next()"><span aria-hidden="true">&rsaquo;</span></a>
          </li>
          <li class="page-item" dmx-class:disabled="searchData.page == searchData.pages" aria-label="Last">
            <a href="javascript:void(0)" class="page-link" dmx-on:click="searchData.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
          </li>
        </ul>
      </div>
      <button id="btn1" class="btn btn-primary btn-sm w-100" data-bs-target="#addTspModal" data-bs-toggle="modal" dmx-on:click="nomNouveauAppareil.load({})">
        Ajouter&nbsp;<i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="col-10" id="data" dmx-show="selectedSim.value!=null">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card app-col">
            <div class="card-body">
              <div class="d-flex flex-row justify-content-between mb-1">
                <h5 class="heading-text">Details de la carte sim</h5>
                <!-- <button id="btn3" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editTspModal" dmx-on:click="listModelTsp.load({});nomNouveauAppareil.load({})">
                  Modifier&nbsp;<i class="fa fa-pencil"></i>
                </button> -->
              </div>
              <div class="d-flex justify-content-between flex-row" style="">
                <div class="d-flex flex-column align-items-center justify-content-around">
                  <a><img class="img-fluid app-img" src="/assets/sim-card.png"></a>
                </div>

                <dl>
                  <dt>Numéro</dt>
                  <dd>{{ selectedSim.value.NumTel }}</dd>
                  <dt>Pin</dt>
                  <dd>{{ selectedSim.value.Pin }}</dd>
                  <dt>Puk</dt>
                  <dd>{{ selectedSim.value.Puk }}</dd>
                </dl>
                <dl>
                  <dt>Date d'achat</dt>
                  <dd>{{selectedSim.value.DateAchat}}</dd>
                  <dt>Date de mise en service</dt>
                  <dd>XXXXX</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card app-col">
            <div class="card-body">
              <h5 class="heading-text">Agent</h5>
              <div class="d-flex justify-content-between flex-row" style="" dmx-show="selectedSim.value.affectation!=null">
                <i class="fa fa-user"></i>
                <dl>
                  <dt>Nom</dt>
                  <dd>{{ selectedSim.value.affectation.Employe.Nom }}</dd>
                  <dt>Date d'affectation</dt>
                  <dd>{{ selectedSim.value.affectation.DateCreation }}</dd>
                  <dt>Nom de l'appareil</dt>
                  <dd>{{ selectedSim.value.affectation.Tsp.Nom }}</dd>
                </dl>
                <dl>
                  <dt>Affecté par</dt>
                  <dd>{{ selectedSim.value.affectation.UserCrea.Nom }}</dd>
                </dl>
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center" style="" dmx-show="selectedSim.value.affectation==null||ActualAffectation.value.Deleted=='O'">
                <i class="fa fa-user-times fa-2x"></i>
                <small class="text-muted">Aucun agent n'est affecté à cet appareil</small><button id="btn4" class="btn btn-sm btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#affecterUserModal">
                  Affecter <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs cnavbar2" id="detailsnav" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="log" data-bs-toggle="tab" href="#" data-bs-target="#logTab" role="tab" aria-controls="navTabs1_1" aria-selected="true">Historique</a>
                </li>
              </ul>
            </div>
            <div class="col-12">
              <div class="tab-content" id="detailsTab">
                <div class="tab-pane active fade show" id="logTab" role="tabpanel" aria-labelledby="log">
                  <div class="table-responsive col-12 col-md-7">

                    <div class="table-responsive">
                      <table class="table table-hover table-sm">
                        <thead>
                          <tr>
                            <th>Nom de l'agent</th>
                            <th>Nom de l'appareil</th>
                            <th>Date</th>
                            <th>Affecté par</th>
                            <th>Supprimé</th>
                          </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="logDataView.data" id="tableRepeat4">
                          <tr>
                            <td dmx-text="EmployeName"></td>
                            <td dmx-text="TspName"></td>
                            <td dmx-text="DateCrea"></td>
                            <td dmx-text="affectedBy"></td>
                            <td dmx-text="Deleted"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <ul class="pagination pagination-sm" dmx-dataview="logDataView" dmx-generator="bs5paging">
                      <li class="page-item" dmx-class:disabled="logDataView.page == 1" aria-label="First">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="logDataView.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
                      </li>
                      <li class="page-item" dmx-class:disabled="logDataView.page == 1" aria-label="Previous">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="logDataView.prev()"><span aria-hidden="true">&lsaquo;</span></a>
                      </li>
                      <li class="page-item" dmx-class:active="title == logDataView.page" dmx-class:disabled="!active" dmx-repeat="logDataView.getDataViewPagination(2,1,'...')">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="logDataView.select(page)">{{title)}}</a>
                      </li>
                      <li class="page-item" dmx-class:disabled="logDataView.page == logDataView.pages" aria-label="Next">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="logDataView.next()"><span aria-hidden="true">&rsaquo;</span></a>
                      </li>
                      <li class="page-item" dmx-class:disabled="logDataView.page == logDataView.pages" aria-label="Last">
                        <a href="javascript:void(0)" class="page-link" dmx-on:click="logDataView.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane show fade" id="accessoireTab" role="tabpanel" aria-labelledby="accessoire">
                  <div class="table-responsive col-12 col-md-6">
                    <table class="table table-hover table-sm">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Accessoire</th>
                          <th>Nom de l'agent</th>
                          <th>Affecté par</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="selectedTsp.value.ListAccessoire" id="tableRepeat3">
                        <tr>
                          <td>
                            <img dmx-bind:src="TypeAccessoire.Img?'data:image/jpeg;base64,'+TypeAccessoire.Img:'/assets/mobile.png'" width="50" dmxorgdomid="d49288" />
                          </td>
                          <td dmx-text="Accessoire.Nom"></td>
                          <td dmx-text="Employe.Nom"></td>
                          <td dmx-text="UserCrea.Nom"></td>
                          <td dmx-text="DateCrea"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane show fade" id="incidentTab" role="tabpanel" aria-labelledby="incidentNav">
                  <div class="col-6">
                    <table class="table" dmx-show="selectedTsp.value.ListProbleme.length&gt;0">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Description</th>
                          <th scope="col">Date</th>
                          <th scope="col">Réparer</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>La batterie se décharge vite</td>
                          <td>05/06/2022</td>
                          <td>N<br /></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-6" dmx-hide="selectedTsp.value.ListProbleme.length&gt;0">
                    <i class="fa fa-check-circle" dmx-class:text-success="true"></i>
                    <small class="text-muted" dmx-text="'Aucun incident à déclarer'"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10 app-nodata" id="nodata" dmx-hide="selectedSim.value"></div>
  </div>
</div>