<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="newSim" appconnect="local" bootstrap5="local" components="{dmxBrowser:{},dmxNotifications:{},dmxPreloader:{},dmxScheduler:{},dmxStateManagement:{}}" dmx-on:ready="postNewSim.connectedUser.setValue(connectedUser.data.matricule)" -->
<meta name="ac:route" content="/views/sim/newSim" />
<dmx-local-manager id="connectedUser"></dmx-local-manager>
<dmx-value id="loading" dmx-bind:value="false"></dmx-value>
<dmx-preloader
  id="preloader1"
  spinner="doubleBounce"
  color="#FF011B"
  bgcolor="#FFEAEA"
  size="100"
  preview="true"
  dmx-show="loading.value==true"></dmx-preloader>
<dmx-scheduler
  id="scheduler1"
  delay="3"
  noload="true"
  norepeat="true"></dmx-scheduler>
<dmx-notifications id="notifies1"></dmx-notifications>

<dmx-datetime id="DateCreaValue"></dmx-datetime>
<div is="dmx-browser" id="browser1"></div>

<div class="container" dmx-show="loading.value==false">
  <div class="row">
    <div class="col">
      <form
        method="post"
        is="dmx-api-form"
        id="postNewSim"
        action="http://localhost:5243/api/simMobile"
        post-data="json"
        dmx-on:success="notifies1.success('Nouvelle sim enregistrée');scheduler1.start();browser1.goto('/views/sim/allsim',true)"
        dmx-on:error="notifies1.danger('Cette sim existe deja');scheduler1.start();loading.setValue(false)"
        dmx-on:start="loading.setValue(true)"
        dmx-header:authorization="connectedUser.data.token">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-7 col-md-5 text-center">
            <div class="fdb-box fdb-touch">
              <div class="row">
                <div class="col">
                  <h1>Enregistrement sim</h1>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <input
                    id="connectedUserData"
                    name="UserCrea"
                    type="hidden"
                    class="form-control"
                    dmx-bind:value="connectedUser.data.matricule " />
                  <input
                    id="DateCrea"
                    name="DateCrea"
                    type="hidden"
                    class="form-control"
                    dmx-bind:value="DateCreaValue.datetime" />
                  <div class="form-group mb-3">
                    <label for="input1" class="form-label" id="numsimlabel"
                      >Numero de la nouvelle sim</label
                    >
                    <input
                      id="NumTel"
                      name="NumTel"
                      class="form-control"
                      type="number" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label for="selectModel" class="form-label" id="pinsimlabel"
                      >Code Pin</label
                    >
                    <input
                      id="Pin"
                      name="Pin"
                      class="form-control"
                      type="number" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label for="selectEquipe" class="form-label" id="puklabel"
                      >Code Puk</label
                    >
                    <input
                      id="Puk"
                      name="Puk"
                      class="form-control"
                      type="number" />
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col">
                  <div class="d-flex justify-content-around">
                    <button
                      id="submit"
                      class="btn btn-primary"
                      type="submit"
                      dmx-bind:disabled="!Pin.value||! NumTel.value||!Puk.value"
                      dmx-on:click="loading.setValue(true)">
                      Enregistrer
                    </button>

                    <button
                      id="cancel"
                      class="btn btn-warning"
                      dmx-on:click="browser1.goto('/views/sim/allsim',true)">
                      Annuler
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
