<!-- Wappler include head-page="layouts/main" jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="affectationTsp" appconnect="local" bootstrap5="local" components="{dmxStateManagement:{},dmxBootstrap5TableGenerator:{},dmxBootstrap5Modal:{},dmxBrowser:{},dmxNotifications:{},dmxScheduler:{},dmxBootstrap5Offcanvas:{},dmxDataTraversal:{},dmxBootstrap5PagingGenerator:{},dmxBootstrap5Navigation:{},dmxFormatter:{}}" -->
<dmx-local-manager id="connectedUser"></dmx-local-manager>




<dmx-data-view id="dataViewAffectation" dmx-bind:data="affecationList.data.where(`Employe.Nom.capitalize()`, form2.recherche.value.capitalize(), 'contains')" dmx-bind:page="affecationList.paging.pages" dmx-bind:pagesize="10"></dmx-data-view>





<div class="modal" id="newAffect" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enregistrement d'une nouvelle affectation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Wappler include jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="editAffectation" appConnect="local" bootstrap5="local" -->
        <div class="col-12">
          <div class="card border-primary">
            <div class="card-body">
              <form id="NewAffectationForm" method="post" is="dmx-api-form" action="http://localhost:5243/api/affectationAM" dmx-header:authorization="connectedUser.data.token" dmx-on:success="notifies1.success('Affectation modifiée');scheduler1.start();affecationList.load({});tspNonAffectList.load({});simNonAffecteList.load({});newAffect.toggle();newAffect.update();NewAffectationForm.reset();sectionId.setValue(0)" dmx-on:error="notifies1.danger(lastError.message)">
                <div class="row">
                  <div class="col-12 text-start">
                    <div class="row">
                      <div class="col">
                        <div class="form-group mb-3">
                          <label for="select1" class="form-label" id="sectionlabel">Choisissez la section</label><select id="section" class="form-select" dmx-bind:options="sectionsList.data" optiontext="LibCourt" optionvalue="IdLigne" dmx-on:changed="sectionId.setValue(value);employeNonAffecteList.load({section: value});tspNonAffectList.load({});simNonAffecteList.load({})">
                            <option value="0"></option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row" dmx-hide="sectionId.value==0">
                      <div class="col">
                        <div class="form-group mb-3">
                          <label for="select1" class="form-label" id="selectempLabel">Choississez un employe</label><select id="newEmploye" class="form-select" name="EmployeId" dmx-bind:options="employeNonAffecteList.data" optiontext="Nom" optionvalue="Matricule">
                            <option selected="" value="null">
                              Aucun employe selectionné
                            </option>
                          </select><button id="loadingbtnemp" class="btn" dmx-show="loadingEmp.value">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                          </button>
                        </div>

                        <input id="newUserCrea" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />
                      </div>
                    </div>
                    <div class="row" dmx-hide="sectionId.value==0">
                      <div class="col mt-4">
                        <div class="form-group mb-3">
                          <label for="select1" class="form-label" id="simLabel">Choississez votre numero</label><select id="newsimSelect" class="form-select" dmx-bind:options="simNonAffecteList.data" optiontext="NumTel" optionvalue="IdSim" name="SimMobileId">
                            <option selected="" value="">
                              Aucune sim
                            </option>
                          </select><button id="loadingbtnsim" class="btn" dmx-show="loadingSim.value">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4" dmx-hide="sectionId.value==0">
                      <div class="col">
                        <div class="form-group mb-3">
                          <label for="select1" class="form-label" id="TspLabel">Choissisez votre appareil</label><select id="newTspSelect" class="form-select" dmx-bind:options="tspNonAffectList.data" optiontext="Nom" optionvalue="IdTsp" name="TspId">
                            <option selected="" value="">
                              Aucun appareil
                            </option>
                          </select><button id="loadingbtnTsp" class="btn" dmx-show="loadingTsp.value">
                            <span class="spinner-border spinner-border-sm" role="status"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col">
                        <button id="newloadingbtn" class="btn btn-light" dmx-show="loadingEdit.value">
                          <span class="spinner-border spinner-border-sm text-danger" role="status"></span>
                        </button>
                        <button id="newsubmit" class="btn btn-primary" type="submit" dmx-on:click="loadingEdit.setValue(true);loadingList.setValue(true)" dmx-hide="newEmploye.value=='null'||(newsimSelect.value == 'null' &amp;&amp; newTspSelect.value=='null')||loadingEdit.value">
                          Enregistrer
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="newcancel" dmx-hide="loadingEdit.value">
                          Annuler
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="editModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex flex-column justify-content-start">
          <h5 class="modal-title heading-text">
            Mis à jour d'une affectation
          </h5><small class="text-muted" dmx-text="selectedAffectation.value.Employe.Nom"></small>
        </div>


      </div>
      <div class="modal-body">
        <!-- Wappler include jquery_slim_33="cdn" fontawesome_4="cdn" is="dmx-app" id="editAffectation" appConnect="local" bootstrap5="local" -->
        <form id="affectationForm" method="post" is="dmx-api-form" action="http://localhost:5243/api/affectationAM/updateAffectation" dmx-header:authorization="connectedUser.data.token" dmx-on:success="notifies1.success('Affectation modifiée');scheduler1.start();editModal.toggle();affecationList.load({});tspNonAffectList.load({});simNonAffecteList.load({});selectedAffectation.setValue(null)" dmx-on:error="notifies1.danger(lastError.message)" post-data="json">
          <div class="row">
            <div class="col-12">

              <input id="UserCrea" name="UserCrea" type="hidden" class="form-control" dmx-bind:value="connectedUser.data.matricule" />
              <input id="IdAffect" name="IdAffect" type="hidden" class="form-control" dmx-bind:value="selectedAffectation.value.IdAffect" />
              <input id="EmployeId" name="EmployeId" type="hidden" class="form-control" dmx-bind:value="selectedAffectation.value.Employe.Matricule" />
              <p class="text-h3 w-100">
                Veuillez attribuer à l'agent un appareil et une carte sim:
              </p>
            </div>
            <div class="col">
              <div class="form-group mb-3 row">
                <label for="input1" class="col-sm-2 col-form-label">Modifier l'appareil</label>
                <div class="col-sm-10">
                  <select id="TspSelect" class="form-select" dmx-bind:options="tspNonAffectList.data" optiontext="Nom" optionvalue="IdTsp" name="TspId">
                    <option dmx-bind:value="selectedAffectation.value.Tsp.IdTsp">{{ selectedAffectation.value.Tsp.Nom }}</option>
                    <option value="">Enlever l'appareil</option>
                  </select>
                </div>
              </div>
              <div class="form-group mb-3 row">
                <label for="input1" class="col-sm-2 col-form-label">Modifier la carte sim</label>
                <div class="col-sm-10">
                  <select id="simSelect" class="form-select mb-5" dmx-bind:options="simNonAffecteList.data" optiontext="NumTel" optionvalue="IdSim" name="SimMobileId">
                    <option selected="" value="null">
                      {{ selectedAffectation.value.SimMobile.NumTel }}
                    </option>
                    <option value="">Enlever la carte sim</option>
                  </select>
                </div>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col">
              <button id="loadingbtn" class="btn btn-light" dmx-show="state.processing">
                <span class="spinner-border spinner-border-sm text-danger" role="status"></span>
              </button>
              <button id="submit" class="btn btn-primary" type="submit" dmx-hide="loadingEdit.value||(simSelect.value == selectedAffectation.value.SimMobile.IdSim &amp;&amp; TspSelect.value == selectedAffectation.value.Tsp.IdTsp)" dmx-on:click="loadingEdit.setValue(true);loadingList.setValue(true)">Enregistrer</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" id="cancel">
                Annuler
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="deleteModal" is="dmx-bs5-modal" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suppression d'une affectation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Etes vous sûr de vouloir supprimer cette affectation?</p>
      </div>
      <div class="modal-footer">
        <form is="dmx-api-form" id="apiform1" method="post" dmx-bind:action="'http://localhost:5243/api/affectationAM/deleteAffectation/'+selectedAffectation.value.IdAffect" dmx-on:success="affecationList.load({});employeNonAffecteList.load({});tspNonAffectList.load({});simNonAffecteList.load({});newAfffId.load({});notifies1.success('Affectation supprimée');deleteModal.hide()" dmx-on:error="notifies1.warning(lastError.response+lastError.message+lastError.status)" dmx-header:authorization="connectedUser.data.token" post-data="json">
          <button type="submit" class="btn btn-danger" dmx-hide="loadingEdit.value" dmx-on:click="loadingEdit.setValue(true);loadingList.setValue(true)">
            Supprimer
          </button>
        </form>
        <button id="deleteloading" class="btn" dmx-show="apiform1.state.executing">
          <span class="spinner-border spinner-border-sm" role="status"></span>
        </button>

        <button type="button" data-bs-dismiss="modal" class="btn btn-info" dmx-hide="loadingEdit.value">
          Annuler
        </button>
      </div>
    </div>
  </div>
</div>
<dmx-scheduler id="scheduler1" dmx-on:tick="" delay="3"></dmx-scheduler>
<dmx-notifications id="notifies1"></dmx-notifications>

<div is="dmx-browser" id="browser1"></div>
<dmx-value id="selectedAffectation"></dmx-value>
<dmx-value id="sectionId" dmx-bind:value="0"></dmx-value>
<dmx-api-datasource id="availableAccessories" is="dmx-fetch" url="http://localhost:5243/api/accessoire/availableAccessories" dmx-header:authorization="connectedUser.data.token"></dmx-api-datasource>
<dmx-api-action id="updateAffectation" noload="true" method="post" url="http://localhost:5243/api/accessoire/affectationAccessoire" dmx-data:ids="selectedAccessories.items" dmx-header:authorization="connectedUser.data.token" dmx-data:idtsp="selectedAffectation.value.Tsp.IdTsp" dmx-data:idemploye="selectedAffectation.value.Employe.Matricule" dmx-data:usercrea="connectedUser.data.matricule" dmx-data:datecrea="date.datetime" dmx-on:success="notifies1.success('Affectation des accessoires mise à jours');existingAccessories.load({});availableAccessories.load({});editAccessoire.input1.select(false)" dmx-on:error="notifies1.danger(lastError.message)"></dmx-api-action>
<dmx-api-action id="deleteApi" noload="true" method="delete" data-type="json" dmx-data:id="selectedAffectation.value.IdAffect" dmx-on:success="affecationList.load({});tspNonAffectList.load({});simNonAffecteList.load({});selectedAffectation.setValue(null);affecationList.load({});loadingEdit.setValue(false);deleteModal.hide()" dmx-bind:url="'http://localhost:5243/api/affectationAM/'+selectedAffectation.value.IdAffect" dmx-header:authorization="connectedUser.data.token" dmx-on:done="affecationList.load({});newAfffId.load({});simNonAffecteList.load({});tspNonAffectList.load({});employeNonAffecteList.load({});deleteModal.hide();loadingEdit.setValue(false);notifies1.info(lastError.status+lastError.message)"></dmx-api-action>
<dmx-api-datasource id="existingAccessories" is="dmx-fetch" url="http://localhost:5243/api/accessoire/affectationByIdTsp" dmx-header:authorization="connectedUser.data.token" dmx-param:id="selectedAffectation.value.Tsp.IdTsp"></dmx-api-datasource>
<dmx-api-datasource id="newAfffId" is="dmx-fetch"></dmx-api-datasource>
<dmx-api-datasource id="sectionsList" is="dmx-fetch" url="http://localhost:5243/api/tableValeur/newAffectation"></dmx-api-datasource>
<dmx-api-datasource id="simNonAffecteList" is="dmx-fetch" url="http://localhost:5243/api/simMobile/simNonAffecte" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingSim.setValue(true)" dmx-on:done="loadingSim.setValue(false)"></dmx-api-datasource>
<dmx-api-datasource id="tspNonAffectList" is="dmx-fetch" url="http://localhost:5243/api/tsp/nonAffecte/all" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingTsp.setValue(true)" dmx-on:done="loadingTsp.setValue(false)"></dmx-api-datasource>
<dmx-api-datasource id="employeNonAffecteList" is="dmx-fetch" dmx-header:authorization="connectedUser.data.token" dmx-on:start="loadingEmp.setValue(true)" dmx-on:done="loadingEmp.setValue(false)" dmx-param:section="sectionId.value" url="http://localhost:5243/api/employe/nonAffecte"></dmx-api-datasource>
<dmx-api-datasource id="affecationList" is="dmx-fetch" url="http://localhost:5243/api/affectationAM/firstLoad" dmx-header:authorization="connectedUser.data.token" dmx-on:unauthorized="browser1.goto('/auth/login');connectedUser.removeAll()" dmx-on:success="loadingList.setValue(false)" dmx-on:error="notifies1.warning('Une erreur est survenue, veuillez rafraichir la page');loadingList.setValue(false)"></dmx-api-datasource>

<meta name="ac:route" content="/views/affectations/affectationTsp" />





<div class="container-fluid wappler-block">
  <div class="row">
    <div class="col-12 col-md-2 app-sidebar">
      <h5 class="heading-text">Liste des affectations d'appareils</h5>
      <div class="row">
        <div class="d-flex align-items-start justify-content-between ps-1 pe-1">
          <form id="form2">
            <div class="form-group mb-3 row">
              <div class="d-flex align-items-start justify-content-center align-self-start">
                <input type="text" class="form-control form-control-sm" id="recherche" name="code" aria-describedby="input1_help" placeholder="Recherche" />
              </div>
            </div>
          </form>
        </div>
        <div class="col">
          <button id="btn1n" class="btn" dmx-show="affecationList.state.executing">
            <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
          </button>
          <div class="table-responsive">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Agent</th>
                </tr>
              </thead>
              <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dataViewAffectation.data" id="tableRepeat1">
                <tr dmx-class:clicked="selectedAffectation.value.IdAffect==IdAffect" dmx-on:click="selectedAffectation.setValue($value)">
                  <td>{{IdAffect}}</td>
                  <td>{{Employe.Nom}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination pagination-sm" dmx-dataview="dataViewAffectation" dmx-generator="bs5paging">
            <li class="page-item" dmx-class:disabled="dataViewAffectation.page == 1" aria-label="First">
              <a href="javascript:void(0)" class="page-link" dmx-on:click="dataViewAffectation.first()"><span aria-hidden="true">&lsaquo;&lsaquo;</span></a>
            </li>
            <li class="page-item" dmx-class:disabled="dataViewAffectation.page == 1" aria-label="Previous">
              <a href="javascript:void(0)" class="page-link" dmx-on:click="dataViewAffectation.prev()"><span aria-hidden="true">&lsaquo;</span></a>
            </li>
            <li class="page-item" dmx-class:active="title == dataViewAffectation.page" dmx-class:disabled="!active" dmx-repeat="dataViewAffectation.getDataViewPagination(2,1,'...')">
              <a href="javascript:void(0)" class="page-link" dmx-on:click="dataViewAffectation.select(page)">{{title)}}</a>
            </li>
            <li class="page-item" dmx-class:disabled="dataViewAffectation.page == dataViewAffectation.pages" aria-label="Next">
              <a href="javascript:void(0)" class="page-link" dmx-on:click="dataViewAffectation.next()"><span aria-hidden="true">&rsaquo;</span></a>
            </li>
            <li class="page-item" dmx-class:disabled="dataViewAffectation.page == dataViewAffectation.pages" aria-label="Last">
              <a href="javascript:void(0)" class="page-link" dmx-on:click="dataViewAffectation.last()"><span aria-hidden="true">&rsaquo;&rsaquo;</span></a>
            </li>
          </ul><button id="addAffect" class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#newAffect">Ajouter
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-10">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-start">
            <button id="deleten" class="btn btn-danger" data-bs-target="#deleteModal" dmx-show="selectedAffectation.value!=null" data-bs-toggle="modal">
              <i class="fa fa-trash-o"></i> Supprimer
            </button>

            <button id="edit" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal" dmx-show="selectedAffectation.value!=null">
              <i class="fa fa-pencil"></i> Modifier
            </button>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex justify-content-around align-items-center">
                    <i class="fa fa-user fa-4x"></i>
                    <dl>
                      <dt>Nom</dt>
                      <dd>{{selectedAffectation.value.Employe.Nom}}</dd>



                      <dt>Matricule</dt>
                      <dd>{{selectedAffectation.value.Employe.Matricule}}</dd>
                      <dt>Equipe</dt>
                      <dd>{{selectedAffectation.value.Employe.Equipe}}</dd>
                      <dt>Date d'affectation</dt>

                      <dd>{{selectedAffectation.value.DateCreation}}</dd>
                      <dt>Affecté par</dt>
                      <dd>{{selectedAffectation.value.UserCrea.Nom}}</dd>

                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card app-col">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between mb-1">
                    <h5 class="heading-text">Details de l'appareil</h5>
                  </div>
                  <div class="d-flex flex-row align-items-start justify-content-around" style="">
                    <div class="d-flex flex-column align-items-center justify-content-start">
                      <h6>{{ selectedAffectation.value.ModelTsp.Nom }}</h6>
                      <a><img class="img-fluid app-img" dmx-bind:src="selectedAffectation.value.ModelTsp.Img?'data:image/jpeg;base64,'+selectedAffectation.value.ModelTsp.Img:'/assets/mobile.png'" width="100"></a>
                    </div>

                    <dl>
                      <dt>Nom</dt>
                      <dd>{{ selectedAffectation.value.Tsp.Nom }}</dd>
                      <dt>Identifiant</dt>
                      <dd>{{ selectedAffectation.value.Tsp.IdTsp }}</dd>
                      <dt>Description</dt>
                      <dd>{{ selectedAffectation.value.Tsp.Description }}</dd>
                    </dl>
                    <dl>
                      <dt>Numéro de Serie</dt>
                      <dd>{{ selectedAffectation.value.Tsp.NumSerie }}</dd>
                      <dt>Année de production</dt>
                      <dd>{{ selectedAffectation.value.Tsp.CodeTsp }}</dd>
                      <dt>Date d'achat</dt>
                      <dd>{{ selectedAffectation.value.Tsp.Description }}</dd>
                    </dl>
                    <dl>
                      <dt>Date de mise en service</dt>
                      <dd>{{ selectedAffectation.value.Tsp.NumSerie }}</dd>
                      <dt>Agent actuelle</dt>
                      <dd>{{ selectedAffectation.value.Tsp.CodeTsp }}</dd>
                      <dt>Date d'achat</dt>
                      <dd>{{ selectedAffectation.value.Tsp.Description }}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card app-col">
                <div class="card-body">
                  <div class="d-flex flex-row justify-content-between mb-1">
                    <h5 class="heading-text">Details de la carte sim</h5>

                  </div>
                  <div class="d-flex justify-content-between flex-row" style="">
                    <div class="d-flex flex-column align-items-center justify-content-around">
                      <a><img class="img-fluid app-img" src="/assets/sim-card.png"></a>
                    </div>

                    <dl>
                      <dt>Numéro</dt>
                      <dd>{{ selectedAffectation.value.SimMobile.NumTel }}</dd>
                      <dt>Pin</dt>
                      <dd>{{ selectedAffectation.value.SimMobile.Pin }}</dd>
                      <dt>Puk</dt>
                      <dd>{{ selectedAffectation.value.SimMobile.Puk }}</dd>
                    </dl>
                    <dl>
                      <dt>Date d'achat</dt>
                      <dd>{{selectedAffectation.value.SimMobile.DateAchat}}</dd>
                      <dt>Date de mise en service</dt>
                      <dd>XXXXX</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>